In [17]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
from collections import Counter
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime as dt # datetime 
import matplotlib.pyplot as plt
import plotly.express as px

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/us-accidents/US_Accidents_Dec19.csv

In [18]:
use_cols = ['Start_Time', 'Severity', 'County', 'State', 'Weather_Condition']
raw = pd.read_csv(r'/kaggle/input/us-accidents/US_Accidents_Dec19.csv')
df =  pd.read_csv(r'/kaggle/input/us-accidents/US_Accidents_Dec19.csv', usecols = use_cols)
df

         Severity           Start_Time          County State Weather_Condition
0               3  2016-02-08 05:46:00      Montgomery    OH        Light Rain
1               2  2016-02-08 06:07:59        Franklin    OH        Light Rain
2               2  2016-02-08 06:49:27        Clermont    OH          Overcast
3               3  2016-02-08 07:23:34      Montgomery    OH     Mostly Cloudy
4               2  2016-02-08 07:39:07      Montgomery    OH     Mostly Cloudy
...           ...                  ...             ...   ...               ...
2974330         2  2019-08-23 18:03:25       Riverside    CA              Fair
2974331         2  2019-08-23 19:11:30       San Diego    CA              Fair
2974332         2  2019-08-23 19:00:21          Orange    CA     Partly Cloudy
2974333         2  2019-08-23 19:00:21     Los Angeles    CA              Fair
2974334         2  2019-08-23 18:52:06  San Bernardino    CA              Fair

[2974335 rows x 5 columns]